/* -----------------------------------------------------------------------------
   Global application grid.
   -------------------------------------------------------------------------- */
@media #{_max("small")} {
    .hidden-sm {
        display: none;
    }
}

@media #{_min("small")} and #{_max("medium")} {
    .hidden-md {
        display: none;
    }
}

@media #{_min("medium")} and #{_max("large")} {
    .hidden-lg {
        display: none;
    }
}

@media #{_min("large")} and #{_max("xlarge")} {
    .hidden-xlg {
        display: none;
    }
}

@media #{_min("xlarge")} {
    .hidden-xxlg {
        display: none;
    }
}
